:root {
  --background-1: hsla(179, 80%, 75%, 0.35);
  --background-2: white;
  --background-3: black;
}
span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.my_img {
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 46%;
  margin-bottom: -4%;
}

a {
  text-decoration: none;
  text-align: center;
  background: var(--background-1);
  transition: all 1s ease-in-out;
  margin-left: 1.875em;
}

a:nth-child(3) {
  text-decoration: none;
  text-align: center;
  background: var(--background-2, white);
  transition: all 1s ease-in-out;
  margin-left: 1.875em;
  color: var(--background-3);
}

a:nth-child(3):hover {
  background: var(--background-3, black);
  color: var(--background-2);
  transform: translateY(8px);
}

a:nth-child(2):hover {
  background: rgb(13, 211, 218);
  color: var(--background-2, white);
  transform: translateY(8px);
}

a:hover {
  background: rgb(37, 35, 168);
  color: var(--background-2, white);
  transform: translateY(8px);
}

[title="Praise Jah"]:hover {
  color: rgb(45, 56, 165);
}
.fullCard {
  width: 40.625em;
  height: 40.725em;
  border: 1px solid var(--background-3, black);
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: hsl(177.1, 79.7%, 25.1%);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.para {
  text-align: center;
  font-size: 30px;
  font-weight: 500;

  font-family: acumin-pro, sans-serif;

  font-weight: 700;

  font-style: italic;
  padding-top: 35px;
}

#grad {
  background: linear-gradient(
    -45deg,
    hsl(154.7, 82.8%, 36.5%),
    hsl(182.7, 82.8%, 36.5%)
  );
}

#links {
  display: flex;
  margin: 1.875em 0.625em;
  padding: 0.5em;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; */
}

.btn {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border: none;
  outline: none;
  border-radius: 50%;
  border: 2px solid var(--background-3, black);
}

.btn > i {
  display: flex;
  margin: 12px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#info {
  position: relative;
  margin: 75px auto;
  display: flex;
  justify-content: center;
}

.info-btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-decoration: none;
  color: var(--background-3, black);
  font-family: monospace;
  background: hsl(182.7, 82.8%, 36.5%);
  margin-right: 10px;
  margin-left: 25px;
  font-size: 2.5em;
}

.info-btn:hover {
  background: rgb(13, 211, 218);
  color: var(--background-2, white);
  transform: translateY(8px);
}

#my-projects {
  display: flex;
  margin-top: -40px;
  flex-direction: column;
}

#centralize {
  align-self: center;
}

/* Media Queries */

@media screen and (max-width: 350px) {
  /* a {
    margin-left: 15px;
  } */
  span {
    font-size: small;
  }
  .my_img {
    width: 50px;
    height: 50px;
    margin-bottom: -27px;
    margin-left: 40vw;
  }
  .fullCard {
    width: 88vw;
    height: 70vh;
  }
  .para {
    font-size: 15px;
  }
  #info {
    margin: 35px auto;
  }
  .info-btn {
    font-size: small;
  }
  #my-projects {
    margin-top: 15px;
  }
  #links {
    margin: 15px 8px;
    padding: 0;
  }
  .btn {
    width: 30px;
    height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .fullCard {
    width: 88vw;
    height: 70vh;
  }
  .my_img {
    width: 55px;
    height: 55px;
    margin-left: 41vw;
    margin-bottom: -27px;
  }

  #info {
    margin: 35px auto;
  }
  .info-btn {
    font-size: small;
    margin-left: 14px;
    padding: 5px 10px;
  }
  #my-projects {
    margin-top: 15px;
  }
}

/* @media screen and (width: 540px) {
  .my_img {
    margin-left: 54%;
    margin-bottom: -11%;
  }
  span {
    margin-left: 25%;
  }
}

@media screen and (width: 720px) {
  .my_img {
    margin-left: 42%;
    margin-bottom: -8%;
  }
} */

@media screen and (min-width: 767px) {
  .my_img {
    margin-top: 15%;
    margin-bottom: -6%;
  }
}

@media screen and (min-width: 1023px) {
  .my_img {
    margin-top: 15%;
    margin-bottom: -4%;
  }
}
